body {
    background-color: black;
    margin: 0;
    color: aliceblue;
}
.navbar{
    background-color: rgb(12, 12, 12);
    display: flex;
    justify-content: space-between; 
}
.nav-left{
    padding-left:30px;
    color: brown;

}
.nav-right{
    padding-right: 20px;
    display: flex;
    align-items: center;
}
.icon{
    padding: 10px;
    margin: 10px;
    color: rgb(255, 255, 255);
    font-size: large;
}
.home{
    display: flex;
    justify-content: space-between;
    height: 85vh;
    border: 2px solid red;
    align-items: center;
}
.home-left{
    width: 60vw;
    padding-left: 80px;
}
.home-right{
    
    padding-right: 150px;
}
.logo-img{
    height: 90px;
}
.image-logo{
    height: 200px;
    width: 140px;
}
.para{
    text-align: justify;
}
